name: Unit testing with Codecov coverage checking

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
  pull_request:

permissions:  # For called workflow
  contents: read
  actions: write

jobs:
  job_unit_test:
    name: Unit test
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Clone SDK
        uses: actions/checkout@v4
        with:
          repository: LedgerHQ/ledger-secure-sdk
          path: sdk

      - name: Install make, clang, cmoka and bsd
        run: |
          sudo apt update
          sudo apt install -y make clang libcmocka-dev libbsd-dev

      - name: Run unit tests
        working-directory: tests/unit
        env:
          BOLOS_SDK: ${{ github.workspace }}/sdk
        run: |
          cmake -Bbuild -H. && make -C build
          ./test_transaction_parser.py
          build/test_bip32_path_extraction
